@page
@model PersonlaWebsite.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/home-style.css" asp-append-version="true" />

<div class="profile">
    <div class="profile-info">
        <div class="photo"></div>
        <div class="main-text">Kanan Yusubov</div>
        <div class="second-text important">Senior .Net Developer</div>
        <div class="profile-contact-infos">
            <a href="mailto:kananysbv@gmail.com" target="_blank" class="round-button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://github.com/KenanHomework" target="_blank" class="round-button"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/kanan-yusubov-33b975219/" target="_blank" class="round-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-quote">" Good code is its own best documentation "</div>
        <div class="card-author">- Kanan Yusubov (maybe ChatGPT)</div>
    </div>
</div>