@page
@model PersonlaWebsite.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<link rel="stylesheet" href="~/css/project-style.css" asp-append-version="true" />

<div class="card">
    <div class="card-image"></div>
    <div class="category"> WPF</div>
    <div class="heading">
        Lorem ipsum dolor sit amet.
        <div class="language">c#</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> WPF</div>
    <div class="heading">
        Lorem ipsum dolor sit amet.
        <div class="language">c#</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> WPF</div>
    <div class="heading">
        Lorem ipsum dolor sit amet.
        <div class="language">c#</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> WPF</div>
    <div class="heading">
        Lorem ipsum dolor sit amet.
        <div class="language">c#</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> WPF</div>
    <div class="heading">
        Lorem ipsum dolor sit amet.
        <div class="language">c#</div>
    </div>
</div>