@page
@model PersonlaWebsite.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}
<link rel="stylesheet" href="~/css/skils-style.css" asp-append-version="true" />
<div class="wrapper">
    <div class="container">
        <h2>My Skills </h2>
        <div class="skills">
            <div class="details">
                <span>.Net</span>
                <span>99%</span>
            </div>
            <div class="bar">
                <div id="dotnet-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>HTML</span>
                <span>90%</span>
            </div>
            <div class="bar">
                <div id="html-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>CSS</span>
                <span>75%</span>
            </div>
            <div class="bar">
                <div id="css-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>Javascript</span>
                <span>72%</span>
            </div>
            <div class="bar">
                <div id="js-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>jQuery</span>
                <span>68%</span>
            </div>
            <div class="bar">
                <div id="jQuery-bar"></div>
            </div>
        </div>
    </div>
</div>